img-s {
    display: table-cell;
    position: relative;
    top: 18px;
    left: 8px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
    background-repeat: no-repeat;
    
  }

  text-ss {
    text-align: left;
    white-space: nowrap;
  }

  text-s {
    vertical-align:bottom;
    text-align: left;
    align-self: flex-end;
  }

@media only screen and (max-width: 600px){
  body {
    background: #e2e1e0;
    text-align: center;
  }


  .bar {
    float: left;
    width: 25%; /* must never add up to more than 100% */
  }

  .green {
      background-color: #a8ff00;
  }

  .greener {
      background-color: #7ad800;
  }

  .greenest {
      background-color: #3eb603;
  }

  .greenerest {
      background-color: #2c7e03;
  }

  .card {
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 350px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    background-color: #9b51e0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: url("../img/stool.png");
    background-size: 500px;
    color: black;
    vertical-align:bottom;
    text-align: left;
    align-self: flex-end;
  }

  .title-2 {
    left: 8px;
  }

  .card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
@media only screen and (min-width: 768px) {
body {
    background: #e2e1e0;
    text-align: center;
  }

  .card {
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    background-color: #9b51e0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: url("../img/stool.png");
    background-size: 500px;
    color: black;
    vertical-align:bottom;
    text-align: left;
    align-self: flex-end;
  }

  .title-2 {
    left: 8px;
  }

  .card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

class-s {
    display: table-cell;
    position: relative;
    top: 78px;
    left: 8px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
    background-repeat: no-repeat;
  }
}
